/* Home.css */
.home-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  border: 8px solid var(--bgColor);
  background: var(--bgColor);
  box-shadow:-5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset  -5px -5px rgba(255, 255, 255, 0.15),
    inset  5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  transition: 0.5s;
  }
  .sideMenu {
    flex: 0 0 20%; /* Ensure the sidebar takes 20% of the width */
    height: 100%;
  }
  
  .banner .productArea {
    flex: 1; /* Ensure the product area takes the remaining space */
    height: 100%;
  }
  .banner {
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--bgColor);
    box-shadow:-5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 1s;
  }
  